* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
  overflow-x: hidden;
}

img {
  height: 50vh;
}

.text-container {
  height: 50%;
  width: 50%;
  border: 1px solid #f86dca;
  padding: 10px;
}

.text-container > * {
  margin: 20px 20px;
}

h1 {
  font-size: 300%;
  font-weight: bold;
}

h2 {
  font-size: 200%;
  text-decoration: underline;
}

p {
  font-size: 14px;
}

ul {
  list-style-position: inside;
  font-size: 14px;
}

button {
  padding: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

::selection {
  background: #f86dca;
}

.content1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: white;

  backdrop-filter: grayscale(70%) blur(10px);
}

.content1-bg {
  background-image: url("./assets/picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 30%;
  overflow-x: hidden;
}

.content2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: black;
}
